<section class="main">

  <div class="nav">
    <div class="logo">
        <h1>Bloc Ch@t</h1>

      </div>

        <button type="button" name="new-room" data-target="modal" ng-click="home.openRoom()">New Room</button>

        <div class="chat-rooms" ng-repeat="room in home.rooms">
          <h4 class="room-name" ng-click="home.setRoom(room)">{{ room.$value }}</h4>
        </div>

  </div>

  <div class="message-box">
    <div class"message-room-name">
      <h2>{{ home.mainRoom.$value }}</h2>
    </div>
        <div class="chats" ng-repeat="message in home.messages">
          <div class="username-text">
            <h6>{{ message.username }}</h6>
          </div>
          <div class="user-chats">
            <p>{{ message.content }}</p>
          </div>
          <div class="time">
            <h6>{{ message.sentAt }}</h6>
          </div>
       </div>
    </div>

    <div class="message-bar">
      <input type="text" class="message-text" ng-model="home.newMessage.content">
      <button class="btn btn-primary" type="button" ng-click="home.sentMessage()">Send Chat</button>
    </div>
</section>
